html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: hsl(var(--main-bg));
  color: hsl(var(--main-fg));
  display: flex;
  flex-direction: column;
}

* {
  transition: background-color 0.5s;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#app {
  height: 100%;
}

.card {
  padding: 20px 40px;
  background-color: hsl(var(--main-surface));
  border-radius: 10px;
}

.button {
  text-decoration: none;
  color: hsl(var(--main-love));
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: hsl(var(--main-highlight-med));
}

.button:active {
  background-color: hsl(var(--main-highlight-high));
  outline: 2px solid hsl(var(--main-pine));
}

.button-round {
  padding: 8px 30px;
  text-decoration: none;
  color: hsl(var(--main-fg));
  background-color: hsl(var(--main-highlight-med));
  border-radius: 25px;
}

.button-round > * {
  display: block;
  margin: auto;
}

.button-round:hover {
  background-color: hsl(var(--main-highlight-high));
}

.button-round:active {
  outline: 2px solid hsl(var(--main-pine));
}

.button-round:disabled {
  background-color: hsl(var(--main-highlight-low));
  color: hsl(var(--main-highlight-med));
  cursor: initial;
}
.button-round:disabled:active {
  outline: none;
}

.static-padding {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

a,
.link {
  text-decoration: underline;
  color: hsl(var(--main-iris));
}

canvas {
  display: block;
}

pre {
  white-space: pre-wrap;
  line-height: 1.7rem;
}

input[type='text'] {
  padding: 5px 10px;
  background-color: hsl(var(--main-overlay));
  border: 2px solid hsl(var(--main-highlight-med));
  border-radius: 5px;
  color: hsl(var(--main-fg));
}
input:focus {
  border: 2px solid hsl(var(--main-highlight-high));
  background-color: hsl(var(--main-highlight-med));
  outline: none;
}

::selection {
  background-color: hsl(var(--main-highlight-high));
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
