:root {
  --main-bg: #faf4ed;
  --main-fg: #575279;
  --main-subtle: #797593;
  --main-muted: #9893a5;
  --main-surface: #fffaf3;
  --main-overlay: #f2e9e1;
  --main-love: #b4637a;
  --main-gold: #ea9d34;
  --main-rose: #d7827e;
  --main-pine: #286983;
  --main-foam: #56949f;
  --main-iris: #907aa9;
  --main-highlight-low: #f4ede8;
  --main-highlight-med: #dfdad9;
  --main-highlight-high: #cecacd;
}

[dark-mode] {
  --main-bg: #232136;
  --main-fg: #e0def4;
  --main-subtle: #908caa;
  --main-muted: #6e6a86;
  --main-surface: #2a273f;
  --main-overlay: #393552;
  --main-love: #eb6f92;
  --main-gold: #f6c177;
  --main-rose: #ea9a97;
  --main-pine: #3e8fb0;
  --main-foam: #9ccfd8;
  --main-iris: #c4a7e7;
  --main-highlight-low: #35344a;
  --main-highlight-med: #44415a;
  --main-highlight-high: #56526e;
}
